@import "../../scss/variables";

$header-height: 50px;
$header-bg-colour: #2D3B54;
$header-text-colour: #FFFFFF;

.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: #2D3B54;
  color: #FFFFFF;
  padding-right: 8px;
  padding-left: 8px;
  clear: both;

  &__logo {
    height: 20px;
    margin-top: 15px;

    &__wrapper {
      text-align: center;
    }
  }

  &__breadcrumbs {
    height: 100%;
    line-height: $header-height + 2px;
    font-size: $font-size-base;
  }

  &__current-project {
    padding-left: 15px;

    @media screen and (max-width: $screen-md) {
      display: none;
    }
  }


  &__cta {
    margin-top: 9px;
  }
}
