.cta {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #68ACD0;
  color: #68ACD0;
  font-size: $font-size-base;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  text-decoration: none;
  border-radius: 2px;
}
