@import "./variables";

$cta-colour: $brand-blue;
$cta-hover-colour: #12CFFD;

.cta {
  display: inline-block;
  background-color: transparent;
  border: 1px solid $cta-colour;
  color: $cta-colour;
  font-size: $font-size-base;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 7px;
  padding-left: 8px;
  text-decoration: none;
  border-radius: 2px;

  &:hover,
  &:focus,
  &:active {
    color: $cta-hover-colour;
    border-color: $cta-hover-colour;
    background-image: none;
    box-shadow: none;
  }
}
