.cta {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #0eb0d1;
  color: #0eb0d1;
  font-size: $font-size-base;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 7px;
  padding-left: 8px;
  text-decoration: none;
  border-radius: 2px;
}
