/*
  For the most part variables should be declared in the local scss file for the component
  If a value is required across multiple components then add it to this list and import the file
*/

// Utility
$font-size-base: 14px;
$font-size-large: ceil($font-size-base);
$font-weight-thin: 100;
$font-weight-light: 400;
$font-weight-bold: 600;

// Grid
$screen-xs: 25em;
$screen-sm: 35.5em;
$screen-md: 48em;
$screen-lg: 64em;
$screen-xl: 80em;

// App
$header-height: 50px;

$swimlane-minus-height: 100px;
$swimlane-width: 300px;
$swimlane-border: 1px solid #E6E6E6;

$gradient-start-color: #FC5570;
$gradient-end-color: #FE9D2D
;
