@import "../../scss/variables";

$sidebar-horizontal-padding: 30px;
$sidebar-vertical-padding: 15px;

$sidebar-close-colour: #BFC4D5;

$sidebar-components-vertical-padding: 25px;

.task-details-sidebar {
  display: none;
  position: fixed;
  top: $header-height;
  right: 0;
  width: $task-sidebar-width;
  height: 100%;
  border-left: 1px solid $sidebar-border-colour;
  padding-top: $sidebar-vertical-padding;
  padding-bottom: 0;
  background-color: $sidebar-secondary-colour;

  &.active {
    display: block;
  }

  &__close {
    text-align: right;

    &__icon {
      color: $sidebar-close-colour;
      font-size: $font-size-large;
      cursor: pointer;
    }
  }

  &__details {
    padding-right: $sidebar-horizontal-padding;
    padding-left: $sidebar-horizontal-padding;
    border-bottom: 1px solid $sidebar-border-colour;
  }

  &__title {
    padding-top: $sidebar-components-vertical-padding;
  }

  &__description {
    padding-top: $sidebar-components-vertical-padding;
    padding-bottom: $sidebar-components-vertical-padding;
  }

  &__sub-tasks {
    padding-bottom: $sidebar-components-vertical-padding;
  }

  &__user-name {
    margin-left: 10px;
    margin-right: 10px;
  }
}
