@import "../../scss/variables";

.footer {
  margin-left: 15px;
  margin-top: 10px;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;

  &__smoof {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }

  &__heart {
    color: #FA545F;
  }
}
