@import "../../scss/variables";

$image-size: 30px;

$initials-background-padding: 5px;

.user-image {
    width: $image-size;
    border-radius: 50%;
    margin: 0 auto;
    vertical-align: middle;

    &--image {
      height: auto;
    }

    &--initials {
      height: $image-size;
      width: $image-size;
      webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background: center/cover $brand-pinky-orange;
      color: #FFF;
      border-radius: 50%;
      display: -ms-inline-flexbox;
      display: inline-flex;
      justify-content: center;
    }
}
