@import "../../scss/variables";

$image-size: 27px;

.user-image {
    width: $image-size;
    border-radius: 50%;
    margin: 0 auto;

    &--image {
      height: auto;
    }

    &--initials {
      height: $image-size;
      line-height: $image-size;
      color: #FFFFFF;
      background-color: $brand-pinky-orange;
      font-size: $font-size-base;
    }
}
