@import "../../scss/variables";

$sidebar-width: 300px;

$section-header-height: 45px;
$section-header-padding-left: 15px;

$sidebar-tip-height: 5px;
$sidebar-tip-width: 10px;
$sidebar-tip-vertical-border: $sidebar-tip-width solid transparent;
$sidebar-tip-horizontal-border: $sidebar-tip-height solid $sidebar-secondary-colour;

$typeahead-font-color: #656872;

.sidebar {
  display: none;
  position: fixed;
  top: $header-height;
  left: 0;
  height: 100%;
  width: $sidebar-width;
  background-color: $sidebar-primary-colour;
  border-right: 1px solid $sidebar-border-colour;
  z-index: 7;

  &:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 33px;
    border-left: $sidebar-tip-vertical-border;
    border-right: $sidebar-tip-vertical-border;
    border-bottom: $sidebar-tip-horizontal-border;
  }

  &.active {
    display: block;
  }

  &__sections {
    height: 100%;
    overflow-y: scroll;
  }

  &__section {
    position: relative;
    height: $section-header-height;
    overflow-y: hidden;
    cursor: pointer;

    &.active {
      height: auto;
      overflow-y: scroll;
    }

    &__header {
      display: block;
      overflow: hidden;
      width: 100%;
      height: $section-header-height;
      padding-left: $section-header-padding-left;
      line-height: $section-header-height;
      background-color: $sidebar-secondary-colour;
      border-bottom: 1px solid $sidebar-border-colour;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__typeahead {
      border: none;
      color: $typeahead-font-color;
      padding-top: 5px;
      padding-left: 15px;
      font-size: $font-size-base;
      font-weight: $font-weight-regular;
      width: 100%;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    &:last-of-type {
      & .sidebar__projects {
        margin-bottom: $header-height + 10px;
      }
    }
  }

  &__projects {
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: none;
  }

  &__project {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    cursor: pointer;

    &:hover,
    &.active {
      color: #F84B57;
    }
  }

  &__backdrop {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;

    &.active {
      display: block;
    }
  }
}
