@import "../../scss/variables";

$sidebar-width: 300px;
$section-header-height: 45px;
$section-header-color: #F9FAFB;
$section-header-border-color: #DCDCDD;
$header-padding-left: 15px;

.sidebar {
  display: none;
  position: fixed;
  top: $header-height;
  left: 0;
  height: 100%;
  width: $sidebar-width;
  background-color: #FFFFFF;
  border-right: 1px solid $section-header-border-color;

  &.active {
    display: block;
    overflow-y: scroll;
  }

  &__section {
    position: relative;
    height: $section-header-height;
    overflow-y: hidden;
    cursor: pointer;

    &.active {
      height: auto;
      overflow-y: scroll;
    }

    &__header {
      display: block;
      overflow: hidden;
      width: 100%;
      height: $section-header-height;
      padding-left: $header-padding-left;
      line-height: $section-header-height;
      background-color: $section-header-color;
      border-bottom: 1px solid $section-header-border-color;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:last-of-type {
      & .sidebar__projects {
        margin-bottom: $header-height + 10px;
      }
    }
  }

  &__projects {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
  }

  &__project {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: $font-size-base;
    font-weight: $font-weight-light;
    cursor: pointer;

    &:hover,
    &.active {
      color: #F84B57;
    }
  }

  &__backdrop {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;

    &.active {
      display: block;
    }
  }
}
