@import "../../scss/variables";

$swimlane-gutter: 5px;
$swimlane-border-radius: 4px;

$swimlane-header-height: 50px;
$swimlane-header-vertical-padding: 10px;
$swimlane-header-horizontal-padding: 15px;

$swimlane-height-small: 250px;

.swimlane {
  position: relative;
  width: $swimlane-width;
  flex: 1;
  margin-right: $swimlane-gutter * 2;
  margin-left: $swimlane-gutter;
  overflow-y: scroll;
  border-bottom-right-radius: $swimlane-border-radius;
  border-bottom-left-radius: $swimlane-border-radius;

  &:last-child {
    margin-right: $swimlane-gutter;
  }

  &--full-width{
    width: 100%;
  }

  &--no-gutter {
    margin-right: 0;
    margin-left: 0;
  }

  &__header {
    width: 100%;
    height: $swimlane-header-height;
    border-top-right-radius: $swimlane-border-radius;
    border-top-left-radius: $swimlane-border-radius;
    border-top: $swimlane-border;
    border-right: $swimlane-border;
    border-bottom: 1px solid #eee;
    border-left: $swimlane-border;
    background-color: #F9FAFB;

    &__text {
      width: $swimlane-width - 1px;
      padding-top: $swimlane-header-horizontal-padding;
      padding-right: $swimlane-header-vertical-padding;
      padding-bottom: $swimlane-header-horizontal-padding;
      padding-left: $swimlane-header-vertical-padding;
      margin: 0;
      font-size: $font-size-base;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    &__update-input {
      width: 100%;
      padding-top: $swimlane-header-horizontal-padding;
      padding-right: $swimlane-header-vertical-padding;
      padding-bottom: $swimlane-header-horizontal-padding;
      padding-left: $swimlane-header-vertical-padding;
      margin: 0;
      font-weight: $font-weight-bold;
      font-size: $font-size-base;
      border-top-right-radius: $swimlane-border-radius;
      border-top-left-radius: $swimlane-border-radius;
      background-color: #F9FAFB;
      outline: none;
      border: 0;
    }
  }

  &__cards {
    overflow-y: scroll;
    height: calc(100vh - (#{$swimlane-header-height} + #{$swimlane-minus-height}));

    // Hide scoll bars
    // blogs.msdn.microsoft.com/kurlak/2013/11/03/hiding-vertical-scrollbars-with-pure-css-in-chrome-ie-6-firefox-opera-and-safari/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar { width: 0 !important }

    &--full-height {
      height: 100%;
    }
  }

  &__footer {
    min-height: 50px;
    padding-top: $swimlane-header-horizontal-padding;
    padding-right: 5px;
    padding-left: 10px;
    font-size: $font-size-base;
    background-color: #FFFFFF;
    border-bottom-right-radius: $swimlane-border-radius;
    border-bottom-left-radius: $swimlane-border-radius;
    border-right: $swimlane-border;
    border-bottom: $swimlane-border;
    border-left: $swimlane-border;
    color: #7A7C85;
    cursor: pointer;
  }

  &__add-task {
    width: 100%;
    color: #000000;
    border: none;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  // Hide scoll bars
  // blogs.msdn.microsoft.com/kurlak/2013/11/03/hiding-vertical-scrollbars-with-pure-css-in-chrome-ie-6-firefox-opera-and-safari/
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar { width: 0 !important }

}
