@import "../../scss/variables";

$card-background-color: #FFFFFF;
$card-horizontal-padding: 6px;
$card-top-padding: 15px;
$card-bottom-padding: 10px;
$card-text-left-padding: 2px;

$drag-handle-size: 16px;

.swimcard {
  &__card {
    min-height: 50px;
    padding-right: $card-horizontal-padding;
    padding-left: $card-horizontal-padding;
    background-color: $card-background-color;
    border-right: $swimlane-border;
    border-left: $swimlane-border;
  }

  &__card-border {
    display: table;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #DCDCDD;

    &.active {
      border-width: 0 0 2px 0;
      border-image: linear-gradient(to right, $brand-pink, $brand-orange) 100% 1;
    }

    &--focused {
      border-top: 1px solid $brand-blue;
      border-bottom: 1px solid $brand-blue;
    }
  }

  &__card-content {
    display: table-cell;
    padding-top: $card-top-padding;
    padding-bottom: $card-bottom-padding;
    padding-left: $card-text-left-padding;
  }

  &__drag-handle {
    display: table-cell;
    height: 100%;
    padding-top: 7px;
    cursor: move;

    &__icon {
      fill: #CDCFD2;
      height: $drag-handle-size;
      width: $drag-handle-size;
    }
  }

  &__update-form {
    &:focus {
      outline: none;
    }
  }

  &__update-input {
    width: 100%;
    height: $font-size-base;
    color: #000000;
    border: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: $font-size-base;
    resize: none;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  &__image {
    display: table-cell;
    text-align: center;
    padding-top: $card-top-padding;
  }

  &__task {
    font-size: $font-size-base;
    cursor: pointer;
  }

  &__view-subtask {
    padding-top: 10px;
    font-size: $font-size-base;
    color: #CDCFD2;
  }
}
