@import "../../scss/variables";

$card-background-color: #FFFFFF;
$card-horizontal-padding: 5px;

$drag-handle-size: 16px;

$card-date-status: (
  future: #656872,
  today: #1BC393,
  late: #F84B57
);

.swimcard {
  &__card {
    position: relative;
    min-height: 50px;
    width: $swimlane-width;
    padding-right: $card-horizontal-padding;
    padding-left: $card-horizontal-padding;
    background-color: $card-background-color;
    border-right: $swimlane-border;
    border-left: $swimlane-border;
  }

  &__card-border {
    display: table;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #DCDCDD;

    &.active {
      border-width: 0 0 2px 0;
      border-image: linear-gradient(to right, $gradient-start-color, $gradient-end-color) 100% 1;
    }
  }

  &__card-content {
    display: table-cell;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  &__drag-handle {
    display: table-cell;
    height: 100%;
    cursor: move;

    &__icon {
      fill: #CDCFD2;
      height: $drag-handle-size;
      width: $drag-handle-size;
    }
  }

  &__user-image {
    width: 30px;
    height: auto;
    border-radius: 50%;
  }

  &__update-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #000000;
    border: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: $font-size-base;

    &:focus {
      outline: none;
    }
  }

  &__update-form {
    position: relative;
    height: $font-size-large;
    margin-bottom: 3px;
  }

  &__task {
    font-size: $font-size-base;
    cursor: pointer;
  }

  &__date {
    font-size: $font-size-base;
    color: map-get($card-date-status, future);

    &--today {
      color: map-get($card-date-status, today);
    }

    &--late {
      color: map-get($card-date-status, late);
    }
  }

}
