$font-size: 14px;

.swimcard {
  &__card {
    position: relative;
    min-height: 50px;
    width: 300px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #FFFFFF;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
  }

  &__card-border {
    display: table;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #DCDCDD;

    &.active {
      border-bottom: 2px solid #68ACD0;
    }
  }

  &__card-content {
    display: table-cell;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  &__drag-handle {
    display: table-cell;
    height: 100%;
    cursor: move;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: darken(#FFFFFF, 10%);
    }

    &__icon {
      fill: #CDCFD2;
      height: 16px;
      width: 16px;
    }
  }

  &__user-image {
    width: 30px;
    height: auto;
    border-radius: 50%;
  }

  &__update-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #000000;
    border: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: $font-size;

    &:focus {
      outline: none;
    }
  }

  &__update-form {
    position: relative;
    height: 16px;
  }

  &__task {
    font-size: $font-size;
    cursor: pointer;
  }

  &__date {
    font-size: $font-size;
    color: #656872;

    &--today {
      color: #73C293;
    }

    &--late {
      color: #D6595A;
    }
  }

}
