@import "../../scss/variables";

.main {
  padding-top: 60px;
  padding-right: 4px;
  padding-left: 4px;

  &--task-sidebar-open {
    padding-right: $task-sidebar-width;
  }
}

.container {
  position: relative;
  height: calc(100vh - #{$swimlane-minus-height});
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  flex-flow: row;
  height: 100%;
  position: absolute;
  left: 0;
}
