.main {
  padding-top: 60px;
  padding-right: 4px;
  padding-left: 4px;
}

.container {
  position: relative;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  flex-flow: row;
  height: 100%;
  position: absolute;
  left: 0;
}
