@import "../scss/variables";

.message {
  &__text {
    color: #555555;
    padding-bottom: 30px;
    font-size: ceil($font-size-base * 1.5);
    font-weight: $font-weight-light;

    @media screen and (max-width: $screen-xs) {
      font-size: ceil($font-size-base * 1.28);
    }
  }

}
